<div class="wrapper">
  <div class="header">
    <div class="headerText">Facility Management</div>
  </div>
  <div class="left">
    <div class="totalsHead">Totals</div>
    <div class="totals">
      <div class="totals-item">
        <div class="total-cost-title">Time on (s)</div>
        <div class="total-timeOn" id="total-timeOn"></div>
      </div>
      <div class="totals-item">
        <div class="total-kwHours-title">Kilowatt Hours</div>
        <div class="total-kwHours" id="total-kwHours"></div>
      </div>
      <div class="totals-item">
        <div class="total-cost-title">Costs (cents)</div>
        <div class="total-costs" id="total-costs"></div>
      </div>
    </div>
  </div>
  <div class="main">
    <app-warehouse></app-warehouse>
  </div>
</div>