nav {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(50, 1fr);
}

.header {
    grid-column: span 30;
    grid-row: span 5;
    border-bottom: 2px solid rgba(77, 175, 124, 1);
    background-color: rgba(123, 239, 178, 1);
    display: flex;
    flex-direction: row;
}

.headerText {
    margin: auto;
    font-size: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.left {
    grid-column: span 4;
    grid-row: span 50;
    border: 2px solid rgba(77, 175, 124, 1);
    background-color: rgba(46, 204, 113, 1);
}

.facilitiesHead {
    font-Size: 2vw;
    text-align: center;
    border-bottom: 4px solid rgba(77, 175, 124, 1);
}

.facilities {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.facility-item {
    margin: auto;
    border: 3px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #5DCCED;
    font-size: 20px;
    font-family: Helvetica,Arial,Sans-Serif
}

.main {
    grid-column: span 22;
    grid-row: span 50;
    width: 100%;
    border: 2px solid rgba(77, 175, 124, 1);
}

.right {
    grid-column: span 4;
    grid-row: span 50;
    border: 2px solid rgba(77, 175, 124, 1);
    background-color: rgba(46, 204, 113, 1);
}

.appliancesHead {
    font-Size: 2vw;
    text-align: center;
    border-bottom: 4px solid rgba(77, 175, 124, 1);
}

.appliances {
    display: flex;
    flex-direction: column;
    height: 90%;
}

.appliance-item {
    margin: auto;
    border: 3px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #5DCCED;
    font-size: 20px;
    font-family: Helvetica,Arial,Sans-Serif
}

.footer {
    grid-column: span 30;
    grid-row: span 1;
    border-top: 2px solid rgba(77, 175, 124, 1);
    background-color: rgba(123, 239, 178, 1)
}