<div class="wrapper">
  <div class="header">
    <div class="headerText">Facility Management</div>
  </div>
  <div class="left">
    <div class="facilitiesHead">Facilities</div>
    <div class="facilities">
      <div class="facility-item" routerLink="/home" routerLinkActive="active">Home</div>
      <div class="facility-item" routerLink="/office" routerLinkActive="active">Office</div>
      <div class="facility-item" routerLink="/warehouse" routerLinkActive="active">Warehouse</div>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>